/* Page local styles */
body {
    font-family: Verdana;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

a, footer {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

li {
    list-style-type: none;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0px;
}

p {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

/* Buttons */
.button-primary {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: fit-content;
    height: 48px;
    padding: 8px 32px;
    border-radius: 4px;
    border: none;
}

.button-secondary {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    width: fit-content;
    height: 48px;
    padding: 8px 32px;
    border-radius: 4px;
    border: 1px solid white;
}

/* Page structure and backgrounds */
header, .hero, footer, .cards, .cta, .testimonial {
    display: flex;
    justify-content: center;
    padding: 0px;
}

header, .hero, footer {
    background-color: #1F2937;
}

.cards, .cta {
    background-color: white;
}

.testimonial {
    background-color: #e5e7eb ;
}


/* Navigation and header */
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    padding: 0px 24px;
}

.logo {
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    margin-left: auto;
    padding: 0px 0px 0px 0px;
    gap: 16px;
}

/* Hero banner */
.hero-content {
    display: flex;
    justify-content: center;
    width: 1280px;
    padding: 64px 32px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 32px;
}

.hero-image {
    width: 50%;
}

/* Cards */
.cards-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    padding: 64px 24px;
}

.four-cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 0px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 8px;
}

.card-image {
    border-radius: 8px;
}

/* Testimonial */
.testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 750px;
    padding: 96px 24px;
}

.testimonial-text {
    color: #1F2937;
    font-size: 28px;
    font-style: italic;
    font-weight: 100;
}

.testimonial-person {
    text-align: right;
    font-weight: bold;
}

/* CTA */
.cta {
    display: flex;
    padding: 64px 32px;
}

.cta-content {
    display: flex;
    width: 960px;
    background-color: #3882f6;
    padding: 32px 96px;
    border-radius: 8px;
    color: white;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.cta-title {
    font-weight: bold;
}

.button-secondary {
    margin-left: auto;
}